

#root {
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, input, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  line-height: 1;
}

/* noinspection ALL */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* noinspection ALL */
input[type='number'] {
  -moz-appearance: textfield;
}

ol, ul {
  list-style: none;
}
