$text-color-main-accent: #000;
$text-color-secondary-accent: #2d2b2b;
$text-weight-main-accent: 700;
$text-weight-secondary-accent: 500;
$text-weight-regular: 400;
$color-template-main: #F4DFC8;
$color-template-secondary: #F4EAE0;
$effect-duration: 0.3s;
